<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services page</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        {% include 'navbar.html' %}
        <h1>The services that we provided</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit id nihil commodi odit. Aperiam voluptatem, nulla dolores officiis tenetur quas voluptatum asperiores inventore quasi porro accusantium voluptates vero incidunt est esse hic iusto odit illum ipsa excepturi modi dignissimos quae. Nostrum dolorum sapiente cupiditate debitis fugiat maiores praesentium eius officiis veritatis corporis rerum, libero porro, saepe minima! Ut, suscipit libero!</p>
        <button>Contact US</button>
    </div>
</body>
</html>